.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: #000000;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #cda45e;
    color: #fff;
    border: 1px solid #cda45e;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 10px;
    /* border: 1px solid #cda45e; */
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #cda45e;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
/* .date-picker:nth-child(1) {
   color: red;
  
} */

/* friday */
/* .date-picker:nth-child(7) {
  color: green; 
} */

#monthAndYear {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color: #aaaaaa;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

/*Time .date*/
.black-icon{
    color: black;
}
.input-group-addon{
  background: gainsboro;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-content{
  color:black;
  margin-top: 2px;
  /* font-size: 36px;
  font-weight: 700;*/
  /* line-height: 1px; */
  letter-spacing: 1px;
  font-family: "Playfair Display", serif; 
}

.btn-day{
  background-color: transparent;
  color:white;
  border-radius: 100px;  
  border-color: transparent !important;
}
.btn-day:hover{
  color:white;
  background-image: linear-gradient(195deg, #42424a, #191919);
}
.btn-today{
  background: linear-gradient(90deg, rgba(205,164,94,1) 0%, rgba(226,205,108,1) 35%, rgba(255,189,73,1) 100%);
}
.btn-today:hover{
  background: linear-gradient(90deg, rgb(173, 139, 80) 0%, rgba(226,205,108,1) 35%, rgb(230, 170, 67) 100%);
}
.close{
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left: 220px;
  font-size: 22px;
  color:white;
}
.bg-gradient{
  background-image: linear-gradient(195deg, #42424a, #191919);
}
.modal-header{
  color:white;
  background-image: linear-gradient(195deg, #42424a, #191919);
}
.modal-title{
  font-family: "Playfair Display", serif;
}
tbody, td, tfoot, th, thead, tr{
  font-family: "Playfair Display", serif;
}